{% if site.comment_gitment_repo %}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://www.goroutine.me/assets/css/default.css">
<script src="https://www.goroutine.me/assets/js/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: '{{ site.comment_gitment_owner }}',
    repo: '{{ site.comment_gitment_repo }}',
    oauth: {
        client_id: '{{ site.comment_gitment_clientId }}',
        client_secret: '{{ site.comment_gitment_clientSecret }}',
    },
});
gitment.render('gitmentContainer');
</script>
{% endif %}
