.c-table__body-hidden {
    overflow: hidden
}

.c-table-back {
    position: relative
}

.c-table-back--btn {
    font-size: 30px;
    position: absolute;
    top: -4px;
    right: 10px;
    color: #666;
    display: none;
    cursor: pointer
}

.c-table-back--btn:hover {
    color: #333
}

.selected .c-table-back--btn {
    display: inline-block
}

.c-table {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    font-size: 14px;
    color: #333
}

.c-table table {
    width: 100%
}

.c-table table.c-table--noWp100 {
    width: auto
}

.c-table td,.c-table th {
    height: 40px;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    font-size: 14px;
    background-clip: padding-box;
    background-color: #fff;
    background-color: transparent \9
}

.c-table td.is-right,.c-table th.is-right {
    text-align: right
}

.c-table td.is-left,.c-table th.is-left {
    text-align: left
}

.c-table td.is-center,.c-table th.is-center {
    text-align: center
}

.c-table td,.c-table th.is-leaf {
    border-bottom: 1px solid #eceef1
}

.c-table td.gutter,.c-table th.gutter {
    width: 15px;
    border-right-width: 0;
    border-bottom-width: 0;
    padding: 0;
    background: #eef0f6
}

.c-table td.is-hidden>*,.c-table th.is-hidden>* {
    visibility: hidden
}

.c-table::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    z-index: 1
}

.c-table::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    z-index: 1
}

.c-table th {
    white-space: nowrap;
    overflow: hidden
}

.c-table th {
    border-bottom: 1px solid #ccc;
    text-align: left
}

.c-table th>div {
    display: inline-block;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 40px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.c-table td>div {
    box-sizing: border-box
}

.c-table th.required>div::before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff4d51;
    margin-right: 5px;
    vertical-align: middle
}

.c-table th>.cell {
    position: relative;
    word-wrap: normal;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box
}

.c-table th>.cell.highlight {
    color: #073069
}

.c-table .caret-wrapper {
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-top: -2px;
    width: 16px;
    height: 34px;
    overflow: visible;
    overflow: initial
}

.c-table td.gutter {
    width: 0
}

.c-table .cell {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block
}

.c-table .cell.prSort {
    padding-right: 28px
}

.c-table .cell.tr {
    padding-right: 30px
}

.c-table.c-table__cell--block .cell {
    display: block
}

.c-table .hidden-columns {
    visibility: hidden;
    position: absolute;
    z-index: -1
}

.c-table tr:hover>td {
    background-color: #eef0f6
}

.c-table tbody td a {
    color: #999
}

.c-table tbody td a:hover {
    color: #666
}

.c-table tbody td:last-child a {
    color: #0092fe;
    margin-right: 10px
}

.c-table tbody td:last-child a:hover {
    color: #20A0FF
}

.c-table a.btn-primary,.c-table a.btn-success,.c-table a.btn-danger,.c-table tbody td:last-child a.btn-primary,.c-table tbody td:last-child a.btn-success,.c-table tbody td:last-child a.btn-danger {
    color: #fff
}

.c-table a.btn-primary:hover,.c-table a.btn-success:hover,.c-table a.btn-danger:hover,.c-table tbody td:last-child a.btn-primary:hover,.c-table tbody td:last-child a.btn-success:hover,.c-table tbody td:last-child a.btn-danger:hover {
    color: #f2f2f2
}

.c-table a.btn-default,.c-table tbody td:last-child a.btn-default {
    color: #666
}

.c-table a.btn-default:hover,.c-table tbody td:last-child a.btn-default:hover {
    color: #595959
}

.c-table a.c-theme,.c-table tbody td:last-child a.c-theme {
    color: #20A0FF
}

.c-table a.c-theme:hover,.c-table tbody td:last-child a.c-theme:hover {
    color: #20A0FF
}

.c-table a.c999,.c-table tbody td:last-child a.c999 {
    color: #999
}

.c-table a.c999:hover,.c-table tbody td:last-child a.c999:hover {
    color: #8c8c8c
}

.c-table--noWrap .cell,.c-table--noWrap-init .cell {
    white-space: nowrap
}

.c-table__footer-wrapper {
    overflow: hidden;
    background-color: #fbfdff;
    border-top: 1px solid #dfe6ec
}

.c-table__footer-wrapper thead div {
    background-color: #eef1f6;
    color: #1f2d3d
}

.c-table__footer-wrapper tbody td {
    background-color: #fbfdff;
    color: #1f2d3d
}

.c-table__empty-block {
    position: relative;
    min-height: 60px;
    text-align: center;
    width: 100%;
    height: 100%
}

.c-table__empty-text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #5e6d82
}

.c-table--fit {
    border-right: 0;
    border-bottom: 0
}

.c-table--fit td.gutter,.c-table--fit th.gutter {
    border-right-width: 1px
}

.c-table--outerBorder {
    border: 1px solid #eceef1
}

.c-table--border {
    border: 1px solid #eceef1
}

.c-table--border td,.c-table--border th {
    border-right: 1px solid #eceef1
}

.c-table--border th {
    border-bottom: 1px solid #eceef1
}

.c-table--border .c-table__footer-wrapper td:nth-last-child(2),.c-table--border .c-table__footer-wrapper .gutter {
    border-right: none
}

.c-table__fixed,.c-table__fixed-right {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    bottom: 0;
    overflow: hidden
}

.c-table__fixed::before,.c-table__fixed-right::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #eceef1;
    z-index: 4
}

.c-table__fixed-right-patch {
    position: absolute;
    top: -1px;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid #eceef1
}

.c-table__fixed-right {
    top: 0;
    left: auto;
    right: 0
}

.c-table__fixed.c-table__fixed--shadow {
    box-shadow: 1px 0 8px #d3d4d6
}

.c-table__fixed-right.c-table__fixed--shadow {
    box-shadow: -1px 0 8px #d3d4d6
}

.c-table__fixed-right .c-table__fixed-body-wrapper,.c-table__fixed-right .c-table__fixed-header-wrapper {
    left: auto;
    right: 0
}

.c-table__fixed-header-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3
}

.c-table__fixed-header-wrapper thead div {
    color: #1f283d
}

.c-table__fixed-body-wrapper {
    position: absolute;
    left: 0;
    top: 41px;
    overflow: hidden;
    z-index: 3
}

.c-table__body-wrapper,.c-table__header-wrapper {
    width: 100%
}

.c-table__body,.c-table__header {
    table-layout: fixed
}

.c-table__header-wrapper {
    overflow: hidden
}

.c-table__header-wrapper thead div {
    color: #1f283d
}

.c-table__body-wrapper {
    overflow: auto;
    position: relative
}

.c-table--striped .c-table__body tr:nth-child(2n) td {
    background: #fafafa
}

.c-table--striped .c-table__body tr:nth-child(2n).current-row td,.c-table--striped .c-table__body tr:nth-child(2n):hover td {
    background: #ebeef3
}

.c-table__body tr.hover-row>td,.c-table--striped .c-table__body tr.hover-row td {
    background-color: #eef0f6
}

.c-table__body tr.current-row>td {
    background: #ebeef3
}

.c-table__column-resize-proxy {
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    width: 0;
    border-left: 1px solid #eceef1;
    z-index: 10
}

.c-table__column-filter-trigger {
    display: inline-block;
    line-height: 34px;
    margin-left: 5px;
    cursor: pointer
}

.c-table__column-filter-trigger i {
    color: #97a1be
}

.el-table--enable-row-transition .c-table__body td {
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease
}

.c-table .c-table__child-border td {
    border-bottom: none
}

.c-table__child td {
    background-color: #fbfdff
}

.c-table--level .c-table__child .cell {
    padding-left: 30px
}

.c-table__sort {
    margin-left: 4px;
    display: inline-flex;
    display: inline \9;
    flex-direction: column;
    align-items: center;
    height: 34px;
    width: 14px;
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative
}

.c-table__sort .c-table__up,.c-table__sort .c-table__down {
    cursor: pointer;
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent
}

.c-table__sort .c-table__up {
    bottom: 7px;
    border-top-color: #999
}

.c-table__sort .c-table__up:hover {
    border-top-color: #20A0FF
}

.c-table__sort .c-table__down {
    top: 5px;
    border-bottom-color: #999
}

.c-table__sort .c-table__down:hover {
    border-bottom-color: #20A0FF
}

.c-table__sort.activeUp .c-table__up {
    border-top-color: #20A0FF
}

.c-table__sort.activeDown .c-table__down {
    border-bottom-color: #20A0FF
}

.g-toggleTable--button_main,.g-toggleTable--buttonAll_main,.g-toggleTable--button,.g-toggleTable--buttonAll {
    cursor: pointer
}

.c-table__child-default {
    color: #707070
}

.c-table__child-default th,.c-table__child-default td {
    font-size: 13px
}

.c-button {
    width: 100px;
    display: inline-block
}

th, td {
    text-align: center!important;
}

.clickable {
    cursor: pointer;
}